@implements IDynamicComponent
@inject AppState appState
©&nbsp;@DateTime.Now.Year&nbsp;<a href="http://slicksysdev.com" target="_blank">@appState.AppName</a>&nbsp;Version 0.0.1a - Developed by&nbsp;<a href="http://slicksysdev.com" target="_blank">Slicksys Development Corp</a>.

@code {
    public int Order { get => 1; }
    public string IntoComponent { get => "Footer"; }
}
